@charset "utf-8";

/*---Header---*/

#header{
	position:fixed;
	left:30px;
	top:30px;
	z-index:100; 
}
#header h1{	
	width:183px;
	height:67px;
	background:url(../images/main_logo.png) no-repeat;
	text-indent:-9999px;   
}
#header h1 a{
	display:block;
	height:100%;   
}

/*--Footer---*/

.footer{background:#E3CF93;}
.fTxt{text-align:center; height:100px; line-height:100px;}
.fTxt img{width:30px; color:#2f3947;}
.fTxt span{color:#2f3947; font-weight:600;}